body {
    background-color: black;
    margin: 0;
    background-image: url("JC.jpg");
    background-size: 75%;
}
#new {
    position: relative;
    left: 50%;
    font-size: 25px;
}
#Recent {
    position: absolute;
    left: 48%;
    top:10%;
}
ul.navigation {
    background-color: limegreen;
    padding: 10px ;
}
li.navigation {
    list-style: none;
    display: inline;
    padding-right: 10px;
}
a {
    text-decoration: none;
}
a.navigation {
    color: whitesmoke;
    border-radius: 10px;
    padding:5px;
    border: 1px solid white;
}
a.navigation:hover {
    color: limegreen;
    background-color: white;
    padding: 10px ;
}
li.categories {
    background-color: #f5f5f5 ;
    max-width: 25%;
    border-radius: 10px;
}
a.categories {
    color: black;
    list-style: none;
    position: relative;
    left: 0;
    margin: 0;
    max-width: 20%;
    padding-left: 10px;
}
#hot_list {
    color: orangered;
}
#hot_list:hover {
    color: yellow;
}
a.categories:hover {
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
    left: 0;
    margin: 0;
    padding: 10px;
}

img.featured {
    height: 5vmax;
    margin: 0;
    border: 5px solid black;
    border-radius: 10px;
}
div.featured {
    display: inline;
    position: absolute;
    top: 115%;
    left: 5%;
}
span.featured {
    color: white;
    background: limegreen;
    padding: 10px;
    position: relative;
    left: 45%;
    border-radius: 20px;
}
div.Today_Story{
    position: absolute;
    top:50%;
    left:20%;
}
p.Today_Story {
    color: white;
    padding: 20px;
    background-image: url("TSBG.jpg");
    background-size: 130%;
    background-blend-mode: darken;
    background-position: 75% 10%;
    max-width: 40%;
    text-align: center;
    font-size: 30px;
}
strong.Today_Story {
    font-size: 30px;
}

#underMoreToRead {
    background-color: yellow;
    width: 45%;
    height:5px;
    border-radius: 5px;
}
footer {
    position: absolute;
    top: 150%;
    background-color: #f5f5f5;
    height: 20%;
    width: 100%;
}
#footerSearchBar {
    margin: 20px;
}
input {
    border: 5px solid black;
    border-radius: 10px;
}
#searchbtn {
    font-size: 20px;
}
#searchbtn:hover {
    background-color: black;
    color: white;
}
#searchbar {
    font-size: 20px;
}
.contact {
    margin: 20px;
    font-size: 25px;
}
p.mail {
    position: relative;
    left: 15%;
    bottom: 30%;
}
footer {
  display: grid;
  gap: 0;
  grid-auto-rows: minmax(0, 25%);
}
#footerSearchBar {
    grid-row:1;
    grid-column: 1;
}
.contact + .mail{
    grid-row:2;
    grid-column: 1;
}
a.mail {
    color: black;
}
#Dark_Knights_of_Steel {
    position: absolute;
    left:50%;
    top:10%;
}
#DC_vs_Vampires{
    position: absolute;
    left:75%;
    top:10%;
}